.button-wrapper {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 4px;
    font-size: 1.25rem;
    opacity: 0.8;

    &:hover {
        opacity: 1;

        i {
            transform: scale(1.2);
        }
    }

    input:active ~ i {
        transform: scale(0.9);
    }

    &:active {
        i {
            transform: scale(0.9);
        }
    }
}
