---
import PageTop from "src/astro/components/PageTop.astro";
import pageLoaderJS from "./page-loader.js?raw";
import googleAnalyticsJS from "./google-head.js?raw";

import "src/styles/index.css";
import "src/styles/transition.css";

const isProduction = import.meta.env.PROD;
---

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            as="style"
            crossorigin
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"
        />
        <link rel="shortcut icon" href="/svg/favicon.svg" type="image/x-icon" />
        <title>Lee Gyu</title>
        <script is:raw set:html={pageLoaderJS} />
        {isProduction && <script is:raw set:html={googleAnalyticsJS} />}
    </head>
    <body>
        <div id="root">
            <PageTop />
            <slot />
        </div>
        {
            isProduction && (
                <noscript>
                    <iframe
                        src="https://www.googletagmanager.com/ns.html?id=GTM-TGFXQ4KJ"
                        height="0"
                        width="0"
                        style="display:none;visibility:hidden"
                    />
                </noscript>
            )
        }
    </body>
</html>

<script>
    import { setTheme } from "src/utils/theme";
    import { setLang } from "src/i18n/utils";

    Object.assign(globalThis, {
        __setTheme: setTheme,
        __setLang: setLang,
    });
</script>
