---
import PageTop from "src/astro/components/PageTop.astro";
import BackgroundArt from "src/astro/components/BackgroundArt.astro";
import ScrollUI from "../components/ScrollUI.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-ligature-subset.css" rel="stylesheet" />
        <link rel="shortcut icon" href="/svg/favicon.svg" type="image/x-icon">
        <title>Lee Gyu</title>
    </head>
    <body>
        <div id="root">
            <main>
                <slot />
            </main>
        </div>
        <ScrollUI />
        <BackgroundArt />
    </body>
</html>

<style>
    @import 'src/styles/global.css';
</style>
