---
import pageLoaderJS from "./page-loader.js?raw";
import googleAnalyticsJS from "./google-head.js?raw";
import PageTop from "src/astro/components/PageTop.astro";
import BottomBanner from "../widget/BottomBanner.astro";

import "src/styles/index.css";
import "src/styles/transition.css";

const isProduction = import.meta.env.PROD;

type Props = {
    lang: string;
};

const lang = Astro.currentLocale;
---

<html lang={lang}>
    <head>
        <title>Lee Gyu</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:title" content="Lee Gyu" />
        <meta property="og:description" content="Profile Website" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="/thumbnail.png" />
        <link
            rel="stylesheet"
            as="style"
            crossorigin
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"
        />
        <link rel="shortcut icon" href="/svg/favicon.png" type="image/x-icon" />
        <script is:raw set:html={pageLoaderJS} />
        {isProduction && <script is:raw set:html={googleAnalyticsJS} />}
    </head>
    <body>
        <div id="root">
            <PageTop />
            <slot />
        </div>
        {
            isProduction && (
                <noscript>
                    <iframe
                        src="https://www.googletagmanager.com/ns.html?id=GTM-TGFXQ4KJ"
                        height="0"
                        width="0"
                        style="display:none;visibility:hidden"
                    />
                </noscript>
            )
        }
        <footer>
            <BottomBanner />
        </footer>
    </body>
</html>

<style>
    body {
        margin: 0 auto;
        background-color: var(--colors-background-light);
        max-width: 1024px;
        height: auto;
    }

    footer {
        text-align: center;
        background-color: var(--colors-background);
        padding-top: 2.5rem;
        padding-bottom: 4rem;
        line-height: 1.75;
    }

    #main {
        overflow: hidden;
    }

    @media print {
        footer {
            display: none;
        }
    }
</style>

<script>
    import { setTheme } from "src/utils/theme";

    Object.assign(globalThis, {
        __setTheme: setTheme,
    });

    let scrolled = window.scrollY > 0;

    window.addEventListener("scroll", () => {
        const nextScrolled = window.scrollY > 0;

        if (nextScrolled === scrolled) return;

        scrolled = nextScrolled;

        window.dispatchEvent(
            new CustomEvent("change:scrolled", { detail: scrolled }),
        );
    });

    if (scrolled)
        window.addEventListener("load", () => {
            window.dispatchEvent(
                new CustomEvent("change:scrolled", { detail: scrolled }),
            );
        });
</script>
