---
import PageTop from "src/astro/components/PageTop.astro";
import pageLoaderJS from "./page-loader.js?raw";

import "src/styles/index.css";
import "src/styles/transition.css";
---

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            as="style"
            crossorigin
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"
        />
        <link rel="shortcut icon" href="/svg/favicon.svg" type="image/x-icon" />
        <title>Lee Gyu</title>
        <script is:raw set:html={pageLoaderJS} />
    </head>
    <body>
        <div id="root">
            <PageTop />
            <slot />
        </div>
    </body>
</html>

<script>
    // global func init
    import { setTheme } from "src/utils/theme";
    import { setLang } from "src/i18n/utils";

    Object.assign(globalThis, {
        __setTheme: setTheme,
        __setLang: setLang,
    });
</script>
