.button-wrapper {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 4px;
    gap: 0.25rem;
    opacity: 0.8;
    z-index: 3000;

    i {
        font-size: 1.25rem;
    }

    &:hover {
        opacity: 1;

        i {
            transform: scale(1.2);
        }
    }

    input:active ~ i {
        transform: scale(0.9);
    }

    &:active {
        i {
            transform: scale(0.9);
        }
    }
}

.list-items {
    line-height: 1.75;
    list-style: disc;
    padding-left: 1.25rem;
    max-width: 72ch;

    & li {
        margin: 0.25rem 0;
    }
}
