.button-wrapper {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 4px;
    gap: 0.25rem;
    opacity: 0.8;
    z-index: 3000;

    i {
        font-size: 1.25rem;
    }

    &:hover {
        opacity: 1;

        i {
            transform: scale(1.2);
        }
    }

    input:active ~ i {
        transform: scale(0.9);
    }

    &:active {
        i {
            transform: scale(0.9);
        }
    }
}

.list-items {
    line-height: 1.75;
    list-style: disc;
    padding-left: 1.25rem;
    max-width: 72ch;
}

.links-simple {
    display: inline-flex;
    column-gap: 0.5rem;
}

.links-list {
    font-size: 0.875rem;
    line-height: 1.75;
    margin-top: -0.5rem;
}

.links-item {
    display: flex;
    align-items: center;
    column-gap: 6px;

    i {
        font-size: 1.125rem;
    }
}

.text-link {
    text-decoration: underline;
}

.page-no-break {
    page-break-inside: avoid;
}

@media print {
    .list-items {
        line-height: 1.5;
    }
}
