@import "./tailwind.css";

:root {
    font-family: "Pretendard", sans-serif;
    font-size: 12px;
    background-color: theme("colors.gray.950");
    color: theme("colors.gray.100");

    min-width: 360px;
}

@media print {
    :root {
        color: theme("colors.black");
        background-color: transparent;
        font-size: 12pt;
    }
}

@media screen and (min-width: 480px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (min-width: 720px) {
    :root {
        font-size: 16px;
    }
}
