:root {
    font-family: "Pretendard", sans-serif;
    font-size: 16px;
    background-color: theme("colors.gray.800");
    color: theme("colors.gray.100");
}

#root {
    margin: auto;
    width: 1280px;
}
