:root {
    font-family: "D2Coding", sans-serif;
    font-size: 12px;
    background-color: theme("colors.gray.950");
    color: theme("colors.gray.100");

    min-width: 360px;
}

@media print {
    :root {
        color: black;
    }
}

@media screen and (min-width: 480px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (min-width: 720px) {
    :root {
        font-size: 16px;
    }
}
