@layer reset, base, tokens, recipes, utilities;
@import "./_icon.css";
@import "./_components.css";

@layer base {
    [aria-hidden="true"] {
        display: none;
    }

    [data-print-visible] {
        display: none;
    }
}

@media print {
    :root {
        font-size: 14px;
        --colors-text: black !important;
        --colors-background: white !important;
        --colors-background-light: white !important;
    }

    [data-print-visible] {
        display: block !important;
    }

    [data-print-hidden] {
        display: none !important;
    }
}

.list-items {
    line-height: 1.75;
    list-style: disc;
    padding-left: 1.25rem;
}
