@layer reset, base, tokens, recipes, utilities;
@import "./_icon.css";
@import "./_components.css";

@layer utilities {
    [aria-hidden="true"] {
        display: none;
    }

    [data-invisible-first="true"] > :first-child {
        visibility: hidden;
    }

    [data-invisible-last="true"] > :last-child {
        visibility: hidden;
    }

    [data-only-print] {
        display: none;
    }
}

@media print {
    :root {
        font-size: 14px;
        --colors-text: black !important;
        --colors-background: transparent !important;
        --colors-background-light: transparent !important;
    }

    [data-print-hidden] {
        display: none !important;
    }

    [data-only-print="block"] {
        display: block !important;
    }
}
