@layer reset, base, tokens, recipes, utilities;
@import "./_icon.css";
@import "./_components.css";

@layer base {
    [aria-hidden="true"] {
        display: none;
    }
}

@media print {
    :root {
        font-size: 14px;
        --colors-text: black !important;
        --colors-background: white !important;
        --colors-background-light: white !important;
    }

    [data-print-hidden] {
        display: none !important;
    }
}
