@layer reset, base, tokens, recipes, utilities;
@import "./_icon.css";
@import "./_components.css";

@layer base {
    [aria-hidden="true"] {
        display: none;
    }
}

@media print {
    :root {
        color: var(--colors-neutral-900);
    }

    [data-print-hidden] {
        display: none !important;
    }
}
