---
import { useTranslations } from "src/i18n/utils";
import { listItemsCss } from "src/styles/component-css";
import Keywords from "../components/Keywords.astro";

const t = useTranslations(Astro.currentLocale as Lang);

const careerData = [
    {
        title: t("career.0.header"),
        content: t("career.0.content"),
        keywords: t("career.0.content.keywords")
            .split(",")
            .map((keyword) => keyword.trim()),
    },
    {
        title: t("career.1.header"),
        content: t("career.1.content"),
        keywords: t("career.1.content.keywords")
            .split(",")
            .map((keyword) => keyword.trim()),
    },
    {
        title: t("career.2.header"),
        content: t("career.2.content"),
        keywords: t("career.2.content.keywords")
            .split(",")
            .map((keyword) => keyword.trim()),
    },
];
---

<ul class={listItemsCss}>
    {
        careerData.map(({ title, content, keywords }) => (
            <li class="career-item">
                <h6 class="career-title">{title}</h6>
                <span class="career-content">{content}</span>
                <Keywords keywords={keywords} />
            </li>
        ))
    }
</ul>

<style>
    .career-title {
        font-weight: 600;
        margin-top: 0.5rem;
    }

    .career-item {
        margin: 0.5rem 0;
    }
</style>
