---
import { useTranslations } from "src/i18n/utils";
import { listItemsCss } from "src/styles/component-css";
import Keywords from "../components/Keywords.astro";
import { splitCommas } from "src/utils/string";

const t = useTranslations(Astro.currentLocale as Lang);

const careerData = [
    {
        title: t("career.0.header"),
        content: t("career.0.content"),
        keywords: splitCommas(t("career.0.content.keywords")),
        desc: t("career.0.content.desc"),
    },
    {
        title: t("career.1.header"),
        content: t("career.1.content"),
        keywords: splitCommas(t("career.1.content.keywords")),
        desc: t("career.1.content.desc"),
    },
    {
        title: t("career.2.header"),
        content: t("career.2.content"),
        keywords: splitCommas(t("career.2.content.keywords")),
        desc: t("career.2.content.desc"),
    },
];
---

<ul class={listItemsCss}>
    {
        careerData.map(({ title, content, desc }) => (
            <li>
                <h6>{title}</h6>
                <span>{content}</span>
                <br />
                <Keywords keywords={[desc]} />
            </li>
        ))
    }
</ul>
