---
import { css } from "src/styled-system/css";
import { listItemsCss } from "src/styles/component-css";

const careerData = [
    {
        tag: "2020~    ",
        desc: "이노룰스 기술연구소",
    },
    {
        tag: "2015~2018",
        desc: "삼성전자 VD사업부",
    },
    {
        tag: "2012~2015",
        desc: "삼성전자 GTC 인사그룹",
    },
];
---

<ul class={listItemsCss}>
    {
        careerData.map(({ tag, desc }) => (
            <li>
                <span
                    class={css({
                        display: "inline-block",
                        letterSpacing: "-0.025em",
                        fontFeatureSettings: "'tnum'",
                        width: "6em",
                    })}
                >
                    {tag}
                </span>
                <span>{desc}</span>
            </li>
        ))
    }
</ul>
