---
import { useTranslations } from "src/i18n/utils";
import { listItemsCss } from "src/styles/component-css";
import Keywords from "../components/Keywords.astro";

const t = useTranslations(Astro.currentLocale as Lang);

const careerData = [
    {
        period: t("career.0.header"),
        content: t("career.0.content"),
        desc: t("career.0.content.desc"),
    },
    {
        period: t("career.1.header"),
        content: t("career.1.content"),
        desc: t("career.1.content.desc"),
    },
    {
        period: t("career.2.header"),
        content: t("career.2.content"),
        desc: t("career.2.content.desc"),
    },
];
---

<ul>
    {
        careerData.map(({ period, content, desc }) => (
            <li class="career-item">
                <span class="keyword">{period}</span>
                <br />
                <p class="career-company">{content}</p>
                <p class="career-desc">{desc}</p>
            </li>
        ))
    }
</ul>

<style>
    .career-item {
        margin: 0.25rem 0;
        line-height: 1.75;
    }
    .career-company {
        font-weight: 500;
    }
    .career-desc {
        font-size: 0.875rem;
    }

    .keyword {
        margin-left: -0.5rem;
    }
</style>
