---
import { useTranslations } from "src/i18n/utils";
import { css } from "src/styled-system/css";
import { listItemsCss } from "src/styles/component-css";

const t = useTranslations(Astro.currentLocale as Lang);

const careerData = [
    {
        tag: "2020~    ",
        desc: t("career.0"),
    },
    {
        tag: "2015~2018",
        desc: t("career.1"),
    },
    {
        tag: "2012~2015",
        desc: t("career.2"),
    },
];
---

<ul class={listItemsCss}>
    {
        careerData.map(({ tag, desc }) => (
            <li>
                <span
                    class={css({
                        display: "inline-block",
                        letterSpacing: "-0.025em",
                        fontFeatureSettings: "'tnum'",
                        width: "6em",
                    })}
                >
                    {tag}
                </span>
                <span>{desc}</span>
            </li>
        ))
    }
</ul>
