---
import { useTranslations } from "src/i18n/utils";
import { listItemsCss } from "src/styles/component-css";

const t = useTranslations(Astro.currentLocale as Lang);

const careerData = [
    {
        title: t("career.0.header"),
        content: t("career.0.content"),
    },
    {
        title: t("career.1.header"),
        content: t("career.1.content"),
    },
    {
        title: t("career.2.header"),
        content: t("career.2.content"),
    },
];
---

<ul class={listItemsCss}>
    {
        careerData.map(({ title, content }) => (
            <li class="career-item">
                <h6 class="career-title">{title}</h6>
                <span class="career-content">{content}</span>
            </li>
        ))
    }
</ul>

<style>
    .career-title {
        font-weight: 600;
        margin-top: 0.5rem;
    }
</style>
