---
import { listItemsCss } from "src/styles/component-css";
import HightText from "../components/HightText.astro";

const listItems = [
    "서버/클라이언트 개발",
    "웹 프로젝트 SDK 개발",
    "시스템 아키텍처 설계/개발",
];
---

<ul class={listItemsCss}>
    {
        listItems.map((item) => (
            <li>
                <HightText text={item} />
            </li>
        ))
    }
</ul>
