---
import HightText from "../components/HightText.astro";

const listItems = [
    "사내 웹 개발자 교육 및 양성",
    "웹 애플리케이션 구조 설계/개발",
    "웹 서비스 개발용 공용 패키지 개발",
    "다른 웹 시스템 통합용 API 설계/개발",
];
---

<ul class="list-items">
    {listItems.map((item) => (
        <li><HightText text={item}/></li>
    ))}
</ul>

<style>

.list-items {
    margin: 0.5rem 0;
    line-height: 1.75;
    cursor: default;
    list-style: circle;
    padding: 0 1rem;
}

</style>