---
import HightText from "../components/HightText.astro";

const listItems = [
    "웹 개발 DX 개선/리드",
    "사내 웹 개발자 교육/양성",
    "웹 개발 공용 패키지 개발",
    "웹 애플리케이션 아키텍쳐 설계/개발",
    "웹 시스템 Integration API 설계/개발",
];
---

<ul class="list-items">
    {listItems.map((item) => (
        <li><HightText text={item}/></li>
    ))}
</ul>

<style>

.list-items {
    margin: 0.5rem 0;
    line-height: 1.75;
    cursor: default;
    list-style: circle;
    padding: 0 1rem;
}

</style>