---
import { listItemsCss } from "src/styles/component-css";
import HightText from "../components/HightText.astro";

const listItems = [
    "웹 풀스택 개발",
    "웹 프런트엔드 SDK 개발",
    "웹 시스템 아키텍처 설계/개발",
];
---

<ul class={listItemsCss}>
    {
        listItems.map((item) => (
            <li>
                <HightText text={item} />
            </li>
        ))
    }
</ul>
