---
const bannerList = [
    ["https://medium.com/@gyuc219", "vsc-book", "Blog", "blog link"],
    ["https://github.com/lee-gyu", "vsc-github", "GitHub", "github link"],
];
---

<ul class="banner-wrapper">
    {
        bannerList.map(([url, icon, text, title]) => (
            <li class="banner-item">
                <a href={url} title={title} target="_blank">
                    {text}
                </a>
            </li>
        ))
    }
</ul>

<style>
    @media print {
        .banner-wrapper {
            display: none;
        }
    }

    .banner-wrapper {
        column-gap: 0.75rem;
        line-height: 1.5;
    }

    .banner-item {
        display: inline-flex;
        text-decoration: underline;

        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }
</style>
