---
import { listItemsCss } from "src/styles/component-css";
import HightText from "../components/HightText.astro";
import { useTranslations } from "src/i18n/utils";

const t = useTranslations(Astro.currentLocale as Lang);

const listItems = [t("mainJob.0"), t("mainJob.1"), t("mainJob.2")];
---

<ul class={listItemsCss}>
    {
        listItems.map((item) => (
            <li>
                <HightText text={item} />
            </li>
        ))
    }
</ul>
