---
import { css } from "src/styled-system/css";
import Title from "../components/Title.astro";

const projectData = [
    {
        year: "2025",
    },
    {
        year: "2024",
    },
    {
        year: "2023",
    },
    {
        year: "2022",
    },
    {
        year: "2021",
    },
    {
        year: "2018",
    },
    {
        year: "2017",
    },
    {
        year: "2016",
    },
    {
        year: "2015",
    },
    {
        year: "2013",
    },
];

const titleCss = css({
    fontWeight: 600,
    opacity: 0.8,
    fontFeatureSettings: "'tnum'",
    letterSpacing: "-0.04em",
});
---

<ol class="projects-list-wrapper">
    {
        projectData.map((project) => (
            <li class="project-desc">
                <Title id={`p${project.year}`} class={titleCss}>
                    {project.year}
                </Title>
            </li>
        ))
    }
</ol>

<style>
    .projects-list-wrapper {
        margin: 0.5rem 0;
    }

    .project-desc {
        margin: 0.5rem 0;
    }
</style>
