---
const projectData = [
    {
        year: "2025",
    },
    {
        year: "2024",
    },
    {
        year: "2023",
    },
    {
        year: "2022",
    },
    {
        year: "2021",
    },
];
---

<ol>
    {
        projectData.map((project) => (
            <li>
                <h4 class="project-title">{project.year}</h4>
            </li>
        ))
    }
</ol>

<style>
    .project-title {
        font-weight: 900;
        opacity: 0.9;
        font-feature-settings: "tnum";
        letter-spacing: -0.05em;
    }
</style>
