---
const projectData = [
    {
        year: "2025",
    },
    {
        year: "2024",
    },
    {
        year: "2023",
    },
    {
        year: "2022",
    },
    {
        year: "2021",
    },
];
---

<ol class="projects-list-wrapper">
    {
        projectData.map((project) => (
            <li class="project-desc">
                <h4 class="project-title">{project.year}</h4>
            </li>
        ))
    }
</ol>

<style>
    .projects-list-wrapper {
        margin: 0.5rem 0;
    }

    .project-desc {
        margin: 0.5rem 0;
    }

    .project-title {
        font-weight: 700;
        opacity: 0.9;
        font-feature-settings: "tnum";
        letter-spacing: -0.05em;
    }
</style>
