---
---

<div class="bg-art">
    <canvas id="artCanvas" width="400" height="400"></canvas>
</div>

<style>

.bg-art {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    display: flex;

    justify-content: flex-start;
    align-items: flex-end;
}

</style>

<script>
import "./bg-art";
</script>