---
type Props = {
    text: string;
};

const { text } = Astro.props;
---

<span class="hight-text">{text}</span>

<style>
    .hight-text {
        position: relative;
        white-space: nowrap;
        word-break: keep-all;
        z-index: 1;

        &::before {
            background-color: var(--colors-accent);
            position: absolute;
            transition: all 0.1s ease-in-out;

            height: 4px;
            bottom: -2px;
            right: 0;
            left: 0;

            content: "";
            z-index: -1;
            opacity: 0.2;
        }

        &:hover::before {
            height: calc(100% + 4px);
            right: -2px;
            left: -2px;
            border-radius: 4px;
        }
    }
</style>
