---
type Props = {
    text: string;
};

const { text } = Astro.props;
---

<span class="hight-text">{text}</span>

<style>
    .hight-text {
        white-space: wrap;
        word-break: keep-all;
    }
</style>
