---
type Props = {
    class?: string;
    keywords: string[];
};

const { keywords, class: className } = Astro.props;
---

<div class:list={[`keywords`, className]}>
    {keywords.map((keyword) => <span class={"keyword"}>{keyword}</span>)}
</div>

<style>
    .keywords {
        display: inline-flex;
        flex-wrap: wrap;
        margin: 0.25rem 0 0.25rem -0.5rem;
        gap: 0.25rem;
        word-break: keep-all;
    }

    .keyword {
        font-weight: 300;
        line-height: 1.25;
        font-size: 0.875rem;
        padding: 0.25rem 0.5rem;
        border-radius: 6px;
        background-color: var(--colors-accent-o10);
    }
</style>
