---
import { splitCommas } from "src/utils/string";

type Props = {
    label: string;
    contents?: string;
};

const { label, contents = "" } = Astro.props;
const items = splitCommas(contents);
---

{
    contents && (
        <li>
            <span class="list-items-label">{label} : </span>
            {items.length === 1 ? (
                <span class="list-items-desc">{items[0]}</span>
            ) : (
                <ul class="sub-list">
                    {items.map((item) => (
                        <li>{item}</li>
                    ))}
                </ul>
            )}
        </li>
    )
}

<style>
    .sub-list {
        list-style: circle;
        padding-left: 0.5rem;
        word-break: keep-all;
    }
</style>
