---
import { css } from "src/styled-system/css";
import ThemeSwitch from "src/solid/components/ThemeSwitch";

const headerCss = css({
    position: "absolute",
    top: 0,
    left: 0,
    width: "100%",
    display: "flex",
    alignItems: "center",
    padding: "0.75rem 0.5rem",
});

const actionWrapperCss = css({
    marginLeft: "auto",
    display: "inline-flex",
});
---

<header class={headerCss}>
    <div class={actionWrapperCss}>
        <ThemeSwitch client:only />
    </div>
</header>
