---
import { css } from "src/styled-system/css";

const headerCss = css({
    position: "fixed",
    top: 0,
    left: 0,
    width: "100%",
    display: "flex",
    alignItems: "center",
    padding: "12px 16px",
});

const actionWrapperCss = css({
    marginLeft: "auto",
});
---

<header class={headerCss}>
    <div class={actionWrapperCss}>
        <label>
            <span aria-hidden="true">Dark Mode Switch</span>
            <input
                name="theme-switch"
                class="theme-switch"
                checked="true"
                onchange="__setTheme(event.target.checked ? 'dark' : 'light')"
                type="checkbox" />
        </label>
    </div>
</header>

<style>
    .theme-switch {
        
    }
</style>