---
import { useTranslations } from "src/i18n/utils";
import { listItemsCss } from "src/styles/component-css";
import Keywords from "./Keywords.astro";
import { splitCommas } from "src/utils/string";

const t = useTranslations(Astro.currentLocale as Lang);
const skillList: Array<[string, string[]]> = [
    [t("skills.40.label"), splitCommas(t("skills.40.keywords"))],
    [t("skills.20.label"), splitCommas(t("skills.20.keywords"))],
    [t("skills.10.label"), splitCommas(t("skills.10.keywords"))],
    [t("skills.15.label"), splitCommas(t("skills.15.keywords"))],
    [t("skills.50.label"), splitCommas(t("skills.50.keywords"))],
];
---

<ul class={listItemsCss}>
    {
        skillList.map(([label, keywords]) => (
            <li>
                <span class="skills-label">{label}:</span>
                <Keywords keywords={keywords} />
            </li>
        ))
    }
</ul>

<style>
    .skills-label {
        margin-right: 0.5rem;
    }
</style>
