---
import { useTranslations } from "src/i18n/utils";
import { listItemsCss } from "src/styles/component-css";
import Keywords from "./Keywords.astro";
import { splitCommas } from "src/utils/string";

const t = useTranslations(Astro.currentLocale as Lang);
const skillList: Array<[string, string[]]> = [
    // Lang
    [t("skills.40.label"), splitCommas(t("skills.40.keywords"))],
    // F/E
    [t("skills.20.label"), splitCommas(t("skills.20.keywords"))],
    // B/E
    [t("skills.10.label"), splitCommas(t("skills.10.keywords"))],
    // ETC
    [t("skills.50.label"), splitCommas(t("skills.50.keywords"))],
];
---

<ul class={listItemsCss}>
    {
        skillList.map(([label, keywords]) => (
            <li>
                <span>{label}:</span>
                <Keywords keywords={keywords} />
            </li>
        ))
    }
</ul>
