---
type Props = {
    team: string[];
    label: string;
};

const { team, label } = Astro.props;

function getTeamContents() {
    return `${label}: ${team.join(", ")}`;
}
---

{team.length > 0 && <li>{getTeamContents()}</li>}
