---
type Props = {
    team: string[];
};

const { team } = Astro.props;

function getTeamContents() {
    if (team.length > 1) return `팀: ${team.join(", ")}`;

    return `역할: ${team.join(", ")}`;
}
---

{team.length > 0 && <li>{getTeamContents()}</li>}
