---
import { cva } from "src/styled-system/css";

type Props = {
    class?: string;
    size?: `h${1 | 2 | 3 | 4}`;
    id?: string;
};

const title = cva({
    base: {
        lineHeight: "1.75",
    },
    variants: {
        size: {
            h1: {
                fontSize: "1.5rem",
                fontWeight: 700,
            },
            h2: {
                fontSize: "1.25rem",
                fontWeight: 600,
            },
            h3: {
                fontSize: "1.125rem",
                fontWeight: 500,
            },
            h4: {
                fontSize: "1rem",
                fontWeight: 500,
            },
        },
    },
});

const { class: className, ...restProps } = Astro.props;
const Element = restProps.size ?? "h1";
---

<Element
    id={restProps.id}
    class:list={[title(restProps), className, restProps.id && "has-title"]}
>
    {
        restProps.id ? (
            <a href={`#${restProps.id}`}>
                <slot />
            </a>
        ) : (
            <slot />
        )
    }
</Element>

<style>
    .has-title {
        position: relative;

        &:hover {
            text-decoration: underline;

            &::before {
                content: "#";
                position: absolute;
                left: -1rem;
                opacity: 0.5;
            }
        }
    }
</style>
