---
import { cva } from "src/styled-system/css";

type Props = {
    size?: "h1" | "h2" | "h3";
    id?: string;
};

const title = cva({
    base: {
        lineHeight: "1.75",
    },
    variants: {
        size: {
            h1: {
                fontSize: "1.5rem",
                fontWeight: 700,
            },
            h2: {
                fontSize: "1.25rem",
                fontWeight: 600,
            },
            h3: {
                fontSize: "1rem",
                fontWeight: 500,
            },
        },
    },
});

const props = Astro.props;
const Element = props.size ?? "h1";
---

<Element id={props.id} class:list={[title(props), props.id && "has-title"]}>
    {
        props.id ? (
            <a href={`#${props.id}`}>
                <slot />
            </a>
        ) : (
            <slot />
        )
    }
</Element>

<style>
    .has-title {
        position: relative;

        &:hover {
            text-decoration: underline;

            &::before {
                content: "#";
                position: absolute;
                left: -1rem;
                opacity: 0.5;
            }
        }
    }
</style>
