---
import { cva } from "src/styled-system/css";

type Props = {
    class?: string;
    size?: `h${1 | 2 | 3 | 4}`;
    id?: string;
    printHidden?: boolean;
};

const title = cva({
    base: {
        lineHeight: "1.75",
    },
    variants: {
        size: {
            h1: {
                fontSize: "1.5rem",
                fontWeight: 700,
            },
            h2: {
                fontSize: "1.25rem",
                fontWeight: 600,
            },
            h3: {
                fontSize: "1.125rem",
                fontWeight: 500,
            },
            h4: {
                fontSize: "1rem",
                fontWeight: 500,
            },
        },
    },
});

const { class: className, ...restProps } = Astro.props;
const Element = restProps.size ?? "h1";
---

<Element
    id={restProps.id}
    data-print-hidden={restProps.printHidden}
    class:list={[title(restProps), className, restProps.id && "has-title"]}
>
    {
        restProps.id ? (
            <a href={`#${restProps.id}`}>
                <slot />
            </a>
        ) : (
            <slot />
        )
    }
</Element>

<style>
    .has-title {
        position: relative;
        display: inline-flex;
        transition: all 0.15s ease-in-out;

        &::before {
            content: "#";
            position: absolute;
            left: -0.875rem;
            transition: all 0.15s ease-in-out;
            opacity: 0;
        }

        &:hover {
            text-decoration: underline;
            color: var(--colors-primary-blue);

            &::before {
                opacity: 0.75;
            }
        }
    }
</style>
