---
import DefaultLayout from "src/astro/layouts/DefaultLayout.astro";
import Banner from "src/astro/widget/Banner.astro";
import Career from "src/astro/widget/Career.astro";
import Intro from "src/astro/widget/Intro.astro";

import { css } from "src/styled-system/css";

const cls = css({
    padding: "12vh",
});

console.log(cls);
---

<DefaultLayout>
    <main id="mainPage">
        <section class="page">
            <div class="relative">
                <header class="page-header">소개</header>
            </div>
            <h1 class="title">웹 개발자</h1>
            <h4 class="sub-title">이규철</h4>
            <section class="section">
                <h4>주 업무</h4>
                <Intro />
            </section>
            <section class="section" role="article">
                <h4>경력</h4>
                <Career />
            </section>
            <section class="section" role="banner">
                <Banner />
            </section>
        </section>
    </main>
</DefaultLayout>

<style></style>
