---
import DefaultLayout from "src/astro/layouts/DefaultLayout.astro";
import Projects from "src/astro/widget/Projects.astro";
import Career from "src/astro/widget/Career.astro";
import Banner from "src/astro/widget/Banner.astro";

import HightText from "src/astro/components/HightText.astro";
---

<DefaultLayout>
    <main>
        <div class="content-wrapper" data-pin-point="about" data-page="first">
            <h1 class="title">안녕하세요.</h1>
            <h4 class="sub-title">웹 개발자 이규철 입니다.</h4>
            <section class="section">
                <p class="paragraph">
                    현재 주 개발 업무는 웹 개발자들을 위한 <HightText text="공용 패키지"/>개발과,
                    <HightText text="사내 웹 애플리케이션의 구조를"/> 설계/개발하고,<HightText text="다른 웹 시스템과의 좋은 인터페이스를"/> 고민합니다.
                </p>
            </section>
            <section class="section" role="article">
                <h4>경력</h4>
                <Career />
            </section>
            <section role="banner">
                <Banner/>
            </section>
        </div>
        <div class="content-wrapper">
            <Projects/>
        </div>
    </main>
</DefaultLayout>

<style>

    [data-page="first"] {
        height: 100vh;
    }

    .content-wrapper {
        padding: 10vh 12vw;
    }

    *:focus-visible {
        outline-offset: 2px;
    }
    
    h1, h4 {
        font-weight: 500;
    }

    .paragraph {
        margin: 0.5rem 0;
        line-height: 1.75;
        cursor: default;
    }

    .title {
        font-size: theme("fontSize.3xl");
    }

    .sub-title {
        font-size: theme("fontSize.2xl");
    }

    .section {
        font-weight: 300;
        word-break: keep-all;
        margin: 1rem 0;
        max-width: 30em;
    }

    @media print {

        [data-page="first"] {
            height: auto;
        }

        .content-wrapper {
            padding: 0;
        }

        @page {
            margin: 2cm 2.5cm;
        }
    }

</style>