# node.js v20 vite project build github actions

on:
    push:
        branches: ["main"]
        paths-ignore:
            - "*.md"

    workflow_dispatch:

concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20
            - name: Corepack config
              run: corepack enable
            - name: Install dependencies
              run: pnpm install -P
            - name: Build
              run: pnpm build

            - name: Build
              run: ls -al

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: production-files
                  path: ./.dist
    deploy:
        name: Deploy
        needs: build
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
            - name: Download artifact
              uses: actions/download-artifact@v4
              with:
                  name: production-files
                  path: ./.dist
            - name: Deploy
              uses: peaceiris/actions-gh-pages@v3
              if: github.ref == 'refs/heads/main'
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./.dist
